
.BOX{
  width: 600px;
  height: 350px;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  margin: 0 auto;
}
.BOX2{
  width: 600px;
  height: 800px;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  margin: 0 auto;
  text-align: left;
}

#bt{
  text-align: right;
}

hr {
  border: solid 1px black;
}

#buttonbuy {
    color:white;
    background-color:skyblue;
    font-size:1.5em;
    border-radius:0.8em;
    padding: 5px 20px;
    border-color: cyan;
}
