
  .TopBar{
    width : 1530px;
    margin : auto;
  }

  .Logo, .betweenHidden {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    text-align: center;
  }
  .Logo{
    width : 18%;
  }
  .betweenHidden{
    width : 22%;
    visibility: hidden;
  }
  /*.MainMenu{
    /*width : 59%;
    height: 30px;
    width: 850px;
    text-decoration: none;

  }*/
  #MainMenu{
    display: inline-block;
    /*vertical-align: top;*/
    text-align: center;
    height: 30px;
    width: 850px;
  }
  #MainMenu ul li{
    list-style: none;
    color:white;
    background-color: gray;
    float:left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
  }
  #MainMenu .Menu{
    text-decoration: none;
    color:white;
    display: block;
    width:150px;
    font-size: 20px;
    font-weight: bold;
    font-family:;
  }
  #MainMenu .Menu:hover{
    color:black;
    background-color: white;
  }
  .Frame{
    width : 1530px;
    margin  : auto;
  }
  .Left_side,.Right_side,.Content{
    height: 2300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .Left_side,.Right_side{
    width : 18%;
  }
  .Content{
    width : 63%;
    background-color: white;
    text-align: center;
  }

  .Footer{
    width: 1530px;
    height: 100px;
    margin : auto;

    background-color: black;
  }
